<ion-segment class="segmentTop" [(ngModel)]="selectedTab" (ionChange)="tabChanged()">
  <ion-segment-button value="tarjeta-premium">
    <ion-icon class="icon" name="card-outline"></ion-icon>
    <ion-label class="text">Tarjeta</ion-label>
  </ion-segment-button>
  <ion-segment-button value="beneficios-categoria-premium">
    <ion-icon class="icon" name="gift-outline"></ion-icon>
    <ion-label class="text">Beneficios</ion-label>
  </ion-segment-button>
  <ion-segment-button value="actividad-premium">
    <ion-icon class="icon" name="bar-chart-outline"></ion-icon>
    <ion-label class="text">Historial</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-menu side="start" contentId="main-content" menuId="menu{{timestamp}}">
  <app-side-menu class="ion-margin-top" style="width: 100%;" ></app-side-menu>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>
<ion-content class="background-image" [fullscreen]="true" contentId="main-content">
  <div class="container  ion-margin-horizontal">
    <div class="ion-margin-horizontal" style="margin-bottom: -20px;">

      <ion-buttons slot="start">
        <ion-menu-button (click)="openMenu()"> <svg xmlns="http://www.w3.org/2000/svg" width="2.82606rem" height="2.5rem" viewBox="0 0 46 40"
            fill="none">
            <rect x="0.5" y="0.5" width="44.2174" height="39" rx="9.5" stroke="#00A99D" stroke-opacity="0.4" />
            <rect width="11.3043" height="1.73913" rx="0.869565" transform="matrix(-1 0 0 1 32.174 13.0435)"
              fill="#00A99D" />
            <rect width="11.3043" height="1.73913" rx="0.869565" transform="matrix(-1 0 0 1 22.6086 26.087)"
              fill="#00A99D" />
            <rect width="20.8696" height="1.73913" rx="0.869565" transform="matrix(-1 0 0 1 32.174 19.4885)"
              fill="#00A99D" />
          </svg></ion-menu-button>
      </ion-buttons>
    </div>
    <h5 class="activity ion-text-center textDarkBold">Historial de últimos movimientos</h5>
    <div class="divcenter">
      <ion-scroll scrollY="true" style="box-shadow: 0px 18px 22px 7px rgba(0,0,0,0.62); background-color: white;border-radius: 9px;max-height: 390px !important;">
      <div class="divHistorial">
          <ion-card class="card">
            <ion-card-header style="padding: 0;">
              <ion-card-subtitle
                style="background-color:rgba(217, 217, 217, 0.46);color: black; font-size: 11px;"><strong
                  class="ion-margin-horizontal">Fecha de Movimiento</strong>27/08/2023</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content style="background-color: #F6F6F6;">
              <ion-row>
                <ion-col size="6">
                  <img style="width: 160.482px;height: 32.53px;" src="../../assets/frame/logo_clinica_astra.png" alt="">
                  <p class="ion-text-center" style="font-size: 11px;">Empresa</p>
                </ion-col>
                <ion-col size="6">
                  <p class="ion-text-center" style="font-size: 13px; font-weight:bold">10% Descuento Consulta Medica</p>
                  <p class="ion-text-center" style="font-size: 11px;">Descuento</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-card class="card">
            <ion-card-header style="padding: 0;">
              <ion-card-subtitle
                style="background-color:rgba(217, 217, 217, 0.46);color: black; font-size: 11px;"><strong
                  class="ion-margin-horizontal">Fecha de Movimiento</strong>27/08/2023</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content style="background-color: #F6F6F6;">
              <ion-row>
                <ion-col size="6">
                  <img style="width: 160.482px;height: 32.53px;" src="../../assets/frame/logo_clinica_astra.png" alt="">
                  <p class="ion-text-center" style="font-size: 11px;">Empresa</p>
                </ion-col>
                <ion-col size="6">
                  <p class="ion-text-center" style="font-size: 13px; font-weight:bold">10% Descuento Consulta Medica</p>
                  <p class="ion-text-center" style="font-size: 11px;">Descuento</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-card class="card">
            <ion-card-header style="padding: 0;">
              <ion-card-subtitle
                style="background-color:rgba(217, 217, 217, 0.46);color: black; font-size: 11px;"><strong
                  class="ion-margin-horizontal">Fecha de Movimiento</strong>27/08/2023</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content style="background-color: #F6F6F6;">
              <ion-row>
                <ion-col size="6">
                  <img style="width: 160.482px;height: 32.53px;" src="../../assets/frame/logo_clinica_astra.png" alt="">
                  <p class="ion-text-center" style="font-size: 11px;">Empresa</p>
                </ion-col>
                <ion-col size="6">
                  <p class="ion-text-center" style="font-size: 13px; font-weight:bold">10% Descuento Consulta Medica</p>
                  <p class="ion-text-center" style="font-size: 11px;">Descuento</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-card class="card">
            <ion-card-header style="padding: 0;">
              <ion-card-subtitle
                style="background-color:rgba(217, 217, 217, 0.46);color: black; font-size: 11px;"><strong
                  class="ion-margin-horizontal">Fecha de Movimiento</strong>27/08/2023</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content style="background-color: #F6F6F6;">
              <ion-row>
                <ion-col size="6">
                  <img style="width: 160.482px;height: 32.53px;" src="../../assets/frame/logo_clinica_astra.png" alt="">
                  <p class="ion-text-center" style="font-size: 11px;">Empresa</p>
                </ion-col>
                <ion-col size="6">
                  <p class="ion-text-center" style="font-size: 13px; font-weight:bold">10% Descuento Consulta Medica</p>
                  <p class="ion-text-center" style="font-size: 11px;">Descuento</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-card class="card">
            <ion-card-header style="padding: 0;">
              <ion-card-subtitle
                style="background-color:rgba(217, 217, 217, 0.46);color: black; font-size: 11px;"><strong
                  class="ion-margin-horizontal">Fecha de Movimiento</strong>27/08/2023</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content style="background-color: #F6F6F6;">
              <ion-row>
                <ion-col size="6">
                  <img style="width: 160.482px;height: 32.53px;" src="../../assets/frame/logo_clinica_astra.png" alt="">
                  <p class="ion-text-center" style="font-size: 11px;">Empresa</p>
                </ion-col>
                <ion-col size="6">
                  <p class="ion-text-center" style="font-size: 13px; font-weight:bold">10% Descuento Consulta Medica</p>
                  <p class="ion-text-center" style="font-size: 11px;">Descuento</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>

        </div>
      </ion-scroll>
    </div>
  </div>
</ion-content>
