.mi-toast {
  --background: linear-gradient(90deg, #1a1a1a 0%, #000000 100%);;
  --color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat";
  --height: 60px;
  --border-radius: 20px;
  --box-shadow: 1px 0px 2px 1px #00a99d;
}
