* {
  font-family: "Montserrat", sans-serif;
}

.background-image {
  --background: linear-gradient(355deg, #5FBEB6 -10.32%, #47938C 50.29%, #35736D 103.19%);
  background-color: #F2F2F4;
}

ion-menu {
  --background: #EDEDF3;
}

.container {
  margin-top: 1vh;
}

.mtNav {
  margin-top: 8vh;
}

.divcenter {
  display: flex;
  justify-content: center;
}

ion-header {
  background: #3D807B !important;
}

.menu {
  --background: rgb(255, 255, 255) !important;
  color: black;
}

ion-segment {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
  height: 4rem;
}

.segment-button-checked.md::part(native) {
  color: white !important;
  background: linear-gradient(180deg, #3D8E86 -13.7%, #134844 143.15%);
}

ion-segment-button::part(indicator-background) {
  background: #47938c !important;
}

ion-segment-button.md::part(native) {
  color: #000;
}

.icon {
  font-size: 20px;
}

.textSegment {
  font-size: 13px;
}

.bgSelect{
  border-radius: 1.875rem;
  background: #215F59;
  color: white;
}
ion-select{
  --placeholder-opacity: 100%;
}

.benefits {
  color: white;
  font-style: normal;
  font-weight: 700;
}

.image-container {
  position: relative;
  border-radius: 1.75rem;
  overflow: hidden;
  width: 342px;
  height: 210px;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(44, 48, 46, 0.00) 38.85%, #0E322F 100%);
}

.beneficiosCat {
  display: block;
  width: 100%;
  height: auto;
}

.textBeneficios {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  color: white;
}

.textWhiteBold {
  color: white;
  font-weight: bold;
}

.textWhite {
  color: white;
}

.textDark {
  color: black;
}
