<ion-content class="background-image" [fullscreen]="true">
  <ion-grid class="container">
    <ion-row class="ion-justify-content-center">
      <div class="logo">
        <img src="../../assets/frame/iscardTarjetaHome.png" style="border-radius: 20px;" />
      </div>
    </ion-row>
  </ion-grid>
  <div class="title ion-text-center ion-margin-top">ISCard</div>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <button [routerLink]="['/acceso']" class="btnAcc">Acceso</button>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <button class="btnReg">Registrarse</button>
    </ion-row>
  </ion-grid>
  <p class="needHelp ion-text-center">¿Necesitas ayuda?</p>

</ion-content>
